@page
@model ChangePasswordModel
@{
    //ViewData["Title"] = "Change password";
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@* <h3>@ViewData["Title"]</h3> *@
<partial name="_StatusMessage" for="StatusMessage" />
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Change password</h4>
        </div>
        <div class="modal-body">
            
                <div class="col-md-12">
                    <form id="change-password-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="row g-3 align-items-center">
                            <div class="col-4">
                                <label asp-for="Input.OldPassword" class="col-form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Input.OldPassword" id="login-OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                            </div>
                        </div>
                        <span asp-validation-for="Input.OldPassword" class="text-danger modal-login-warning"></span>

                        <div class="row g-3 align-items-center">
                            <div class="col-4">
                                <label asp-for="Input.NewPassword" class="col-form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Input.NewPassword" id="login-NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            </div>
                        </div>
                        <span asp-validation-for="Input.NewPassword" class="text-danger modal-login-warning"></span>

                        <div class="row g-3 align-items-center">
                            <div class="col-4">
                                <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Input.ConfirmPassword" id="login-ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            </div>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger modal-login-warning"></span>
                        
                        <div class="text-end">
                            <button id="login-submit" type="submit" class="btn modal-login-button" disabled>Save</button>
                            <button class="btn modal-cancel-button" onclick="location.href='/'" type="button">Cancel</button>
                        </div>
                    
                    </form>
                </div>
            
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let buttonSubmit = document.getElementById("login-submit")
        let inputOldPassword = document.getElementById("login-OldPassword")
        let inputNewPassword = document.getElementById("login-NewPassword")
        let inputConfirmPassword = document.getElementById("login-ConfirmPassword")
        inputOldPassword.addEventListener("input", function(e) {
	        if(inputOldPassword.value.length == 0) {
                buttonSubmit.disabled = true;
            } else {
                if (inputNewPassword.value.length != 0 && inputConfirmPassword.value.length != 0) {
                    buttonSubmit.disabled = false;
                }
                else {
                    buttonSubmit.disabled = true;
                }
            }
        })
        inputNewPassword.addEventListener("input", function(e) {
	        if(inputNewPassword.value.length == 0) {
                buttonSubmit.disabled = true;
            } else {
                if (inputOldPassword.value.length != 0 && inputConfirmPassword.value.length != 0) {
                    buttonSubmit.disabled = false;
                }
                else {
                    buttonSubmit.disabled = true;
                }
            }
        })
        inputConfirmPassword.addEventListener("input", function(e) {
	        if(inputConfirmPassword.value.length == 0) {
                buttonSubmit.disabled = true;
            } else {
                if (inputOldPassword.value.length != 0 && inputNewPassword.value.length != 0) {
                    buttonSubmit.disabled = false;
                }
                else {
                    buttonSubmit.disabled = true;
                }
            }
        })

        @* <div class="form-floating">
            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.OldPassword" class="form-label"></label>
            <span asp-validation-for="Input.OldPassword" class="text-danger">Old Password</span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.NewPassword" class="form-label"></label>
            <span asp-validation-for="Input.NewPassword" class="text-danger">New Password</span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger">Confirm Password</span>
        </div> *@
    </script>
}
