@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <p>Do you want to log out?</p>
            <div>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button id="login-submit" type="submit" class="btn modal-login-button">Logout</button>
                                <button class="btn modal-cancel-button" onclick="location.href='/'" type="button">Cancel</button>
                        </form>
                    }
                    else
                    {
                        <p>You have successfully logged out of the application.</p>
                    }
                }
            </div>
        </div>
    </div>
    </div>
    
</header>
